<div style="item: center; min-height: 50vh;">
  <div class="col-md-10 col-lg-8 w-1/2 mx-auto" style="font-size: 1rem; padding: 40px;">
    <h2>Change your password</h2><br>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field" style="margin-bottom: 30px;">
        <%= f.label :password, "新しいパスワード" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input input-bordered w-full" %>
      </div>

      <div class="field" style="margin-bottom: 30px;">
        <%= f.label :password_confirmation, "パスワード確認" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered w-full" %>
      </div>
      <br>
      <div class="actions" style="margin-bottom: 30px;">
        <%= f.submit "パスワード変更", class: "btn btn-primary w-full" %>
      </div>
    <% end %>
  </div>
</div>
