<div style="item: center; min-height: 50vh;">
  <div class="col-md-10 col-lg-8 w-1/2 mx-auto" style="font-size: 1rem; padding: 40px;"><br>
    <h2>ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field" style="margin-bottom: 30px;">
        <%= f.label :email, class: "label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-full" %>
      </div>

      <div class="field" style="margin-bottom: 30px;">
        <%= f.label :password, class: "label" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered w-full" %>
      </div>

      <div class="actions" style="margin-bottom: 30px;">
        <%= f.submit "ログイン", class: "btn btn-primary w-full" %>
      </div>
    <% end %>

    <hr>
    <div class="actions">
      <% resource_class.omniauth_providers.each do |provider| %>
        <% if provider == :google_oauth2 %>
          <%= button_to "Googleアカウントでログインする", omniauth_authorize_path(resource_name, provider), method: :post, data: { turbo: false }, class: "btn btn-secondary w-full" %><br />
        <% elsif provider == :line %>
          <%= button_to "Lineアカウントでログインする", omniauth_authorize_path(resource_name, provider), method: :post, data: { turbo: false }, class: "btn btn-secondary w-full" %><br />
        <% end %>
      <% end %>
    </div>
    <div class=text-center>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to t('.forgot_your_password'), new_password_path(resource_name) %><br />
      <% end %>

      <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
        <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
      <% end %>

      <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
        <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
      <% end %>
    </div>
</div>