<div style="display: flex; justify-content: center; align-items: center; min-height: 50vh;">
  <div class="col-md-10 col-lg-8 mx-auto" style="font-size: 1rem; padding: 40px;"><br>
    <h2>ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field" style="margin-bottom: 30px;">
        <%= f.label :email, class: "label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-full" %>
      </div>

      <div class="field" style="margin-bottom: 30px;">
        <%= f.label :password, class: "label" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered w-full" %>
      </div>

      <div class="actions" style="margin-bottom: 30px;">
        <%= f.submit "ログイン", class: "btn btn-primary w-full" %>
      </div>
    <% end %>

    <hr>
    <div class="actions">
      <% resource_class.omniauth_providers.each do |provider| %>
        <% if provider == :google_oauth2 %>
          <%= button_to "Googleアカウントでログインする", omniauth_authorize_path(resource_name, provider), method: :post, data: { turbo: false }, class: "btn btn-secondary w-full" %><br />
        <% elsif provider == :line %>
          <%= button_to "Lineアカウントでログインする", omniauth_authorize_path(resource_name, provider), method: :post, data: { turbo: false }, class: "btn btn-secondary w-full" %><br />
        <% end %>
      <% end %>
    </div>
</div>